.App {
  /* text-align: center; */
}

  .h1{
    size: 58px;
    line-height: 1.1*58px;
  }
  .h2{
    size: 36px;
    line-height: 1.1*36px;
  }
  .h3{
    size: 24px;
    line-height: 1.1*24px;
  }
  .h4{
    size: 20px;
    line-height: 1.1*20px;
  }
  .h5{
    size: 18px;
    line-height: 1.1*18px;
  }
  .h5{
    size: 16px;
    line-height: 1.1*16px;
  }

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
