/* src/globals.css */

h1 {
    font-size: 58px;
    line-height: calc(1.1 * 58px);
    font-weight: 700;
  }
  
  h2 {
    font-size: 36px;
    line-height: calc(1.1 * 36px);
    font-weight: 700;
  }
  
  h3 {
    font-size: 24px;
    line-height: calc(1.1 * 24px);
    font-weight: 500;
  }
  
  h4 {
    font-size: 20px;
    line-height: calc(1.1 * 20px);
    font-weight: 500;
  }
  
  h5 {
    font-size: 18px;
    line-height: calc(1.1 * 18px);
    font-weight: 500;
  }
  
  h6 {
    font-size: 16px;
    line-height: calc(1.1 * 16px);
  }
  